{% extends "base4.html" %}
{% block titulo %}Datos de Cliente{% endblock titulo %}

{% block body %}
<div class="container mt-3">
    <div class=" row bg-secondary py-1" >
        <h3 class="mb-1 text-white">Clientes</h3>
    </div >
    <div class=" row align-items-center border mt-1 " style="background-color: #F5F0EF;">
        <div class="col-md-6  ">
            <div class="d-flex ">
                <p class="mb-1 font-weight-bold">
                    <b>
                        <i class="fas fa-check-circle"></i>Visualizar Datos Del Cliente</b>
                </p> 
            </div>
        </div>
        <div class="col-md-6  mb-1">
            <div class="d-flex justify-content-end   ">
                <a href="/usuarios/crudCliente/">
                    <button type="button" class="btn btn-warning mt-1">
                        <i class="fas fa-arrow-left"></i>  Regresar
                    </button>
                </a>
            </div>
        </div>
    </div >
</div >
<section class="vh-100" >
    <div class="container py-3 " >
        <div class="row d-flex justify-content-center  h-100"  >
            <div class="col col-12" >
                
                <div class="card" style="border-radius: 1rem;"  >
                    <div class="row g-0" >
                        <div class="col d-flex align-items-center " style="background-color: #F5F0EF;border-radius: 1rem 1rem 1rem 1rem; "><!--form-->
                            <div class="card-body p-4 p-lg-5 text-black d-flex justify-content-center align-items-center" >
                                
                                <form class="w-75" >
                                    {% csrf_token %}
                                    <h5 class="fw-normal  mb-3 pb-3 " style="letter-spacing: 1px; ;"><b>Información del Cliente</b> </h5>
                                    <hr>
                                    
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Nombres: </b></span>
                                        <input type="text" disabled value="{{cliente.nombrecliente}}" name="nombres" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Juan Antonio">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Apellidos: </b></span>
                                        <input type="text" disabled value="{{cliente.apellidoCliente}}" name="apellidos" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Perez Perez">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>DUI: </b></span>
                                        <input type="text" disabled value="{{cliente.duiCliente}}" name="dui" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="12345678-0">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Nacionalidad</b></span>
                                        <input type="text" disabled value="{{cliente.nacionalidadCliente}}" required maxlength="50" name="nombres" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Salvadoreña">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Telefono: </b></span>
                                        <input type="text" disabled value="{{cliente.telefonoCliente}}" name="telefono" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="0000-0000">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Email: </b></span>
                                        <input type="text" disabled value="{{cliente.emailCliente}}" name="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="pp24007007@gmail.com">

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock body%}