{% extends "base4.html" %}
{% block titulo %}Modificar cliente{% endblock titulo %}

{% block body %}
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container mt-3">
    <div class=" row bg-secondary py-1" >
        <h3 class="mb-1 text-white">Cliente</h3>
    </div >
    <div class=" row align-items-center border mt-1 " style="background-color: #F5F0EF;">
        <div class="col-md-6  ">
            <div class="d-flex ">
                <p class="mb-1 font-weight-bold">
                    <b>
                        <i class="fas fa-check-circle"></i>  Modificar Cliente Existente</b>
                </p> 
            </div>
        </div>
    </div >
</div >
<section class="vh-100" >
    <div class="container py-3 " >
        <div class="row d-flex justify-content-center  h-100"  >
            <div class="col col-12" >
                
                <div class="card" style="border-radius: 1rem;"  >
                    <div class="row g-0" >
                        <div class="col d-flex align-items-center " style="background-color: #F5F0EF;border-radius: 1rem 1rem 1rem 1rem; "><!--form-->
                            <div class="card-body p-4 p-lg-5 text-black d-flex justify-content-center align-items-center" >
                                
                                <form class="w-75" action="/usuarios/modificarCliente/" method="POST" autocomplete="off">
                                    {% csrf_token %}
                                    <h5 class="fw-normal  mb-3 pb-3 " style="letter-spacing: 1px; ;"><b>Formulario de registro</b> </h5>
                                    <hr>
                                    
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Nombres</b></span>
                                        <input type="text" autocomplete="off" value="{{cliente.nombreCliente}}" required maxlength="50" name="nombres" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Juan Antonio">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Apellidos</b></span>
                                        <input type="text" autocomplete="off" value="{{cliente.apellidoCliente}}" required maxlength="50" name="apellidos" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Perez Perez">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>DUI</b></span>
                                        <input type="text" autocomplete="off" value="{{cliente.duiCliente}}" required maxlength="10" name="dui" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="12345678-0">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Nacionalidad</b></span>
                                        <input type="text" autocomplete="off" value="{{cliente.nacionalidadCliente}}" required maxlength="50" name="nacionalidad" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Salvadoreña">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Telefono</b></span>
                                        <input type="text" autocomplete="off" value="{{cliente.telefonoCliente}}" required maxlength="10" name="telefono" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="0000-0000">
                                    </div>
                                    <div class="input-group input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Email</b></span>
                                        <input type="text" autocomplete="off" value="{{cliente.emailCliente}}" required name="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="gm21007@gmail.com">
                                        <input type="text" value="{{cliente.idCliente}}" hidden name="idCliente" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="">
                                    </div>

                                    <div class="pt-1 mb-4  d-flex justify-content-end">
                                        <button class="btn btn-success btn-lg btn-block me-2" type="submit"><i class="far fa-save "></i>  Guardar</button>
                                        <a href="/usuarios/crudCliente/">
                                        <button class="btn btn-danger btn-lg btn-block" type="button"><i class="fas fa-times"></i>  Cancelar</button>
                                    </a>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock body%}