.custom-color {
    background-color: 	#194376;
    color: #c42e2e; 
}

.mar{
    margin-bottom:-5% ;
}
.nav-link i {
    color: rgb(15, 15, 240); 
}
.nav-link {
    color: rgb(19, 19, 236); 
}

.nav-link:hover i,
.nav-link:hover {
    color: red;
}
.size-icon{
    font-size: 24px;
}

.redondeado{
    border-radius: 1rem 1rem 1rem 1rem;
}

.tooltip-text {
        display: none;
    }

.icon-link:hover .tooltip-text {
        display: inline-block;
    }


    
    .body1 {
        background-color: #f0f0f0;
        font-family: sans-serif;
        text-align: center;
      }
      
      .container1 {
        margin: 200px auto;
        width: 400px;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .icon1 {
        font-size: 80px;
        margin-bottom: 20px;
        color: #333;
      }
      
      .h21 {
        margin-bottom: 10px;
        color: #333;
      }
      
      .p1 {
        margin-bottom: 20px;
        color: #666;
      }
      .nav-bar::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        background: #194376;
      }
      @media (min-width: 768px) {
        .move-up-md {
            margin-top: -50px;
        }
    }
