{% extends "base3.html" %}

{% block titulo %}Inicio{% endblock titulo %}
{% block body %}
<div class="card">
    <div class="card-header text-white bg-dark">
        <h2>Bienvenido</h2>
    </div>
    <div class="card-body text-secondary">
      <div class="row">
        <div class="col-md-6 text-center">
          <i class="fa fa-plane fa-9x"></i>
          <br>
          <br>
          <p class="card-text text"">Encomiendas Houston El Salvador es un negocio dedicado al servicio de encomiendas. Su inicio se remonta al año 2018, desde entonces se ha dedicado y especializado en los servicios de encomiendas realizadas de Estados Unidos a El Salvador, y de El Salvador a Estados Unidos.
            Actualmente, la empresa se ha dedicado a realizar el servicio de encomiendas de forma bilateral, desde las ciudades de Houston, Austin y Dallas a El Salvador. 
            </p>
        </div>
        <div class="col-md-6 text-center">
          <i class="fa fa-book fa-9x"></i>
          <br><br>
          <p class="card-text">Si aun no estas convencido de que servicio necesitas o es de tu conveniencia puedes contactarnos para cootizar nuestros servicios, con gusto te brindaremos una mano para que el transporte de tus paquetes sea lo mas comodo posible para ti.
            ¡Estamos a tu servicio!
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer bg-light">
        <div class="row">
            <div class="col-md-4 d-flex  align-items-center justify-content-center">
                <i class="fa fa-phone-square fa-3x"></i><span>0000-0000</span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                <span>El Salvador</span>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                <span>emaildeprueba@emila.com</span>
            </div>
        </div>
    </div>
    
  </div>
{% endblock body %}


