{% extends "base4.html" %}
{% load static %}

{% block body %}


<div class="container-fluid p-0 " style="margin-top: -45px;">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/c1.jpg' %}" alt="First slide">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Ropa & Accesorios</h4>
                        <h1 class="display-3 text-white mb-md-4">El Mejor Servicio</h1>
                        <a href="#" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'img/c2.jpg' %}" alt="Second slide">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Entregas</h4>
                        <h1 class="display-3 text-white mb-md-4">Equipo Profecional De Entregas</h1>
                        <a href="#" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->


<!-- Contact Info Start -->
<div class="container-fluid contact-info mt-5 mb-4">
    <div class="container" style="padding: 0 30px;">
        <div class="row">
            
            <div class="col-md-6 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex text-left">
                    <i class="fa fa-2x fa-envelope text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">  Email </h5>
                        <p class="m-0 text-white">info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0" style="height: 100px;">
                <div class="d-inline-flex text-left">
                    <i class="fa fa-2x fa-phone-alt text-white m-0 mr-3"></i>
                    <div class="d-flex flex-column">
                        <h5 class="text-white font-weight-medium">  Contactanos</h5>
                        <p class="m-0 text-white">+503 7777 7777</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Info End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-0 pt-lg-4">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid" src="{% static 'img/h1.jpg' %}" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Sobre Nosotros</h6>
                <h1 class="mb-4">Somos Un Proveedor De Servicios De Encomiendas De Calidad</h1>
                <h5 class="font-weight-medium font-italic mb-4">Actualmente, la empresa se ha dedicado a realizar el servicio de encomiendas de forma bilateral, desde las ciudades de Houston, Austin y Dallas a El Salvador.  </h5>
                <p class="mb-2">Encomiendas Houston El Salvador es un negocio dedicado al servicio de encomiendas. Su inicio se remonta al año 2018, desde entonces se ha dedicado y especializado en los servicios de encomiendas realizadas de Estados Unidos a El Salvador, y de El Salvador a Estados Unidos. </p>
                <div class="row">
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0"> Servicio De Calidad </p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0"> Envio Rapido</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0"> Equipo Profecional</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0"> 100% Satisfaccion Garantizada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Services Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Nuestros Servicios</h6>
        <h1 class="display-4 text-center mb-5">Que Ofrecemos</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-3x fa-folder-open text-secondary"></i>
                        
                    </div>
                    <h4 class="font-weight-bold m-0">Envio de Documentos</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                        <i class="fas fa-3x fa-shopping-cart text-secondary"></i>
                    </div>
                    <h4 class="font-weight-bold m-0">Compras en Linea</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-3x fa-pills text-secondary"></i>
                    </div>
                    <h4 class="font-weight-bold m-0">Envio de Medicamentos</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-1">
                <div class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4" style="height: 300px;">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-3x fa-utensils text-secondary"></i>
                    </div>
                    <h4 class="font-weight-bold m-0">Envio de Comidas</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->





<!-- Working Process Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Proceso de Envio</h6>
        <h1 class="display-4 text-center mb-5">Como Enviar</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">1</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Contactanos</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">2</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Solicita tu cotizacion</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">3</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Aprueba</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 150px; height: 150px; border-width: 15px !important;">
                        <h2 class="display-2 text-secondary m-0">4</h2>
                    </div>
                    <h3 class="font-weight-bold m-0 mt-2">Envia</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Working Process End -->






<!-- Footer Start -->
<div class="container-fluid bg-light text-white mt-5 pt-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5 text-primary">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none h-1 py-1"> 
                <img src="{% static 'img/logo.png' %}" style="width: 164px; ;height:67px;" >
            </a>
            
            <div class="d-flex justify-content-start mt-4 text-primary" >
                
                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-5 text-primary">
            <h4 class=" mb-4 text-primary">Contactanos</h4>
        
            
            <p><i class="fa fa-phone-alt mr-2"></i>  +503 7777 7777</p>
            <p><i class="fa fa-envelope mr-2"></i>  info@example.com</p>
            </div>
        </div>
        
    </div>
</div>
<div class="container-fluid bg-dark text-white py-4 px-sm-3 px-md-5">
    <p class="m-0 text-center text-white">
        &copy; <a class="text-white font-weight-medium" href="#">Encomiendas Huoston</a>. Derechos reservados. Diseñado por
        <a class="text-white font-weight-medium" href="">TEAM</a>
    </p>
</div>
<!-- Footer End -->
<script src="{%static 'js/ValidacionNoVacio.js'%}"></script>
{% endblock body %}