{% extends 'base4.html' %}
{% load static %}

{% block body %}
<div class="container text-center mt- py-5">
    <div class="position-relative mx-auto"> <!-- Contenedor principal para centrar horizontalmente -->
      <i class="icon fas fa-lock position-absolute" style="font-size: 50px; left: 50%; transform: translateX(-50%);"></i> <!-- Icono -->
      <div class="pt-5"> <!-- Espacio superior para el contenido -->
        <h2 class="h21">Acceso restingido a la pagina</h2> <!-- Título -->
        <p class="mb-4">Por favor consulte con el encargado para mas informacion.</p> <!-- Párrafo -->
      </div>
    </div>
  </div>
    
{% endblock body %}
